
.logo{
      position: relative;
      width:25%;
      height:25%;
      float: left;
      padding-bottom: 25px;
      left:60px;
}
#logobox{
      font-size: 20px;
      font-weight: 900;
      padding:20px;
}
.gender{
      display: inline;
}

.header{
overflow: hidden;
padding: 20px 10px;
}
fieldset{
      background:white;
}
legend
{
background:rgb(93, 143, 236);
border:1px solid #ccc;
box-shadow: 3px 3px 3px 3px silver; 
padding:5px;
text-align: center;
width:40%;
color:white;
}


input{padding:8px; width:300px; display:block}

header, aside, article, footer, section {
      display: block;
     }
     /* Get rid of white border around browser window */
     body {
      margin: 0;
      padding: 0;
     }
     /* Get rid of large margins on headings */
     h1, h2, h3, h4, h5, h6 {
      margin: 0;
     }
#wrapper {
      /* Set your own widths, % for fluid, px for fixed */
      width: 100%;
      min-width: 780px;
      max-width: 1260px; /* Vertical margins, and auto to center */
      margin: 0 auto;
     }
     .container {
      padding: 16px;
      background-color: white;
      font-size: 16px;
      font-weight: bold;
    }
    input[type=text], input[type=date], input[type=tel]{
      width: 50%;
      max-width: 500px;
      box-sizing: border-box;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: 1px solid rgb(93, 143, 236);
      background: #f1f1f1;
    }
    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    .radio-space{
          padding-top: 30px;
          padding-bottom: 30px;
          float: left;
          clear: none;
    }
   
    

    /*custom file ------------------------------------------*/
    .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      text-align: center;
      border-radius: 7px;
      padding: 8px;
      background:#f1f1f1;
      cursor: pointer;
      font-size: 12px;
      width:100px;
  }
  .custom-file-upload:hover{
        background: #888;
  }
    input[type="file"] {
      display: none;
  }
    /*-----------------------------------------------------*/

    /* select style ----------------------------------------*/
    .select-css {
      display: block;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 700;
      color: #444;
      line-height: 1.3;
      padding: .6em 1.4em .5em .8em;
      width: 50%;
      max-width: 500px; 
      box-sizing: border-box;
      margin: 0;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
  }
  .select-css::-ms-expand {
      display: none;
  }
  .select-css:hover {
      border-color: #888;
  }
  .select-css:focus {
      border-color: #aaa;
      box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222; 
      outline: none;
  }
  .select-css option {
      font-weight:normal;
  }
  
    /*-------------------------------------------*/

     /* Sample styles for 3-column layout */
     /* Section containing multiple columns */
     .columns {
      display: table;
      border-collapse: collapse;
      width: 100%; /* border is optional, style to taste */
      border: solid 1px silver;
     }
     /* Aside columns in columns div */
     .columns aside {
      display: table-cell; /* Use any width and padding you like */
      width: 18%;
      padding: 1%;
     }
     /* Main article in the columns */
     .columns article {
      padding: 1%;
      background: #ddd;
     }
     /*Optional, style to taste */
     .columns .left {
      background-color: #ddd;
      border-right: solid 1px gray;
     }
     .columns .right {
      background-color: #ddd;
      border-left: solid 1px gray;
     }
     .imgcontainer{
     border: 1px solid #ccc;
     align-content: center;
     width:70px;
     height: 50px;
     float: left;
     padding: 50px;
}

input[type=button]{
      background-color: rgb(93, 143, 236);
      border-radius: 12px;
      box-shadow: 3px 3px 3px 3px silver;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      width: 20%;

}
/*------------------ datepicker style*/
.ui-datepicker {
    text-align: center;
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  }
  .ui-datepicker a {
    text-decoration: none;
  }
  .ui-datepicker-trigger {
      margin: 0 0 0 5px;
      vertical-align: text-top;
  }
  
  .ui-datepicker {
      font-family: Open Sans, Arial, sans-serif;
      margin-top: 2px;
      padding: 0 !important;
      border-color: #c9f0f5 !important;
  }
  
  .ui-datepicker {
      width: 256px;
  }
  
  .openemr-calendar .ui-datepicker {
      width: 191px;
  }
  
  .ui-datepicker table {
      width: 100%;
      table-layout: fixed;
      background-color: white;
  }
  
  .openemr-calendar .ui-datepicker table {
      width: 191px;
      table-layout: fixed;
  }
  
  .ui-datepicker-header {
      background-color:rgb(93, 143, 236) !important;
      background-image: none !important;
      border-radius: 0;
  }
  
  .openemr-calendar .ui-datepicker-header {
      background-color: #e6f7f9 !important;
      color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
  }
  
  .ui-datepicker-title {
       text-align: center;
  }
  
  .openemr-calendar .ui-datepicker-title {
      line-height: 20px !important;
  }
  
  .ui-datepicker-prev span {
      display: none !important;
  }
  
  .ui-datepicker-next {
      text-align: center;
  }
  
  .ui-datepicker-next span {
      display: none !important;
  }
  
  .ui-datepicker-prev {
      background-color: transparent !important;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAVUlEQVQYlXWQ0Q3AIAhEL07gKI7kKN2kI3Wk1w9to3KQEELucQEECOizhhTQGHFnwOdgobWx0GkZILfYBhXl0STVbPoBarbkL7ozN/F8VBBXh8uJgF5r2hrI4GHUkAAAAABJRU5ErkJggg==') !important;
      height: 12px !important;
      width: 7px !important;
      margin: 14px 12px;
      display: inline-block;
      left: 0 !important;
      top: 0 !important;
  }
  
  .openemr-calendar .ui-datepicker-prev {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAuUlEQVQokXXRsUtCYRAA8J8pDQ1CVIgIgtBU2NDiZIuDS4uLf6WDS1O0tLREEE8icBNKS3lTs8/B78XHw3dwcHA/juOuqjzucYJVrQQMcYctvo4OgEFIeMK6iPphCjzjEWLUC3vACx7yRo5uMUIFr5gii1EL41AvMIkBVPGH04DrSLEsIvjEOZq4wi9+iijDR0ANXOMbmxjlcIY2LtANO6YxymGCDs5wg/ciYv+KBJeY4+2A+Y9j4Y47RtUkrNXeDxUAAAAASUVORK5CYII=') !important;
      height: 14px !important;
      width: 9px !important;
      margin: 5px !important;
  }
  
  .ui-datepicker-next {
      cursor: pointer;
  }
  
  .ui-datepicker-prev {
      cursor: pointer;
  }
  
  .ui-datepicker-next {
      background-color: transparent !important;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAUklEQVQYlXWPwQnAMAwDj9IBOlpH8CjdJLNksuujFIJjC/w6WUioFBcqJ7sGEAD5Y/hpqLRghRv4YQlUjqXI3Kql2MixraGbEhVcDXcFUR/1egEHNuTBpFW0NgAAAABJRU5ErkJggg==') !important;
      height: 12px !important;
      width: 8px !important;
      margin: 14px 12px;
      display: inline-block;
      right: 0 !important;
      top: 0 !important;
  }
  
  .openemr-calendar .ui-datepicker-next {
      background-image: url('https://cdn2.iconfinder.com/data/icons/picol-vector/32/arrow_sans_right-512.png') !important;
      height: 14px !important;
      width: 8px !important;
      margin: 5px;
  }
  
  .ui-datepicker-month {
      border-radius: 2px;
      width: 50px !important;
      height: 22px;
      font-family: Open Sans !important;
      color: #fff;
      font-size: 14px !important;
      font-weight: 600;
      text-align: right;
      border: none !important;
      margin-right: 17px !important;
      vertical-align: text-top;
      background-color: #3985a0;
  }
  
  .openemr-calendar .ui-datepicker-month {
      font-family: Open Sans, Arial, sans-serif;
      color: rgba(34, 34, 34, 0.87);
      font-size: 12px !important;
      font-weight: 700;
      text-align: center;
      transform: scaleX(1.0029)
  }
  
  .ui-datepicker-year {
      border-radius: 2px;
      width: 60px !important;
      height: 22px;
      border: none !important;
      font-family: Open Sans !important;
      color: #fff;
      font-size: 14px !important;
      font-weight: 600;
      text-align: right;
      vertical-align: text-top;
      background-color: #3985a0;
  }
  
  .openemr-calendar .ui-datepicker-year {
      font-family: Open Sans, Arial, sans-serif;
      color: rgba(34, 34, 34, 0.87);
      font-size: 12px !important;
      font-weight: 700;
      text-align: center;
      transform: scaleX(1.0029)
  }
  
  .ui-datepicker-month option,
  .ui-datepicker-year option {
      color: #3985a0 !important;
      background-color: #fff !important;
      font-family: Open Sans !important;
      font-size: 14px !important;
      font-weight: 600;
  }
  
  .ui-datepicker-month option[selected],
  .ui-datepicker-year option[selected] {
      background-color: #e5edf0 !important;
  }
  
  .ui-datepicker .ui-state-hover {
      /*background: none !important;*/
      border: 0 !important;
  }
  
  .ui-datepicker td {
      vertical-align: top;
  }
  
  .ui-datepicker .ui-state-default {
      background: #ededed;
      background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
      background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
      background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
      background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
      background: linear-gradient(top,  #ededed 0%,#dedede 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
      -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
      -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
      box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  }
  .ui-datepicker-unselectable .ui-state-default {
      background-color: #f4f4f4 !important;
      color: #b4b3b3 !important;
    }
    
   
  .ui-datepicker .ui-state-default.ui-state-highlight{
      border-color: #dcdcdc;
      background-color: #0d4850 !important;
      color: #3e9aba !important;
  }
  
  .openemr-calendar .ui-state-default {
      font-size: 10px;
      margin: 0;
  }
  
  .ui-datepicker td {
      width: 33px;
  }
  .ui-datepicker tbody td {
      padding: 0;
      border-right: 1px solid #bbb;
    }
    .ui-datepicker tbody td:last-child {
      border-right: 0px;
    }
    .ui-datepicker tbody tr {
      border-bottom: 1px solid #bbb;
    }
    .ui-datepicker tbody tr:last-child {
      border-bottom: 0px;
    }
    
  .openemr-calendar .ui-datepicker td {
      width: 26px;
  }
  .ui-datepicker th {
      text-transform: uppercase;
      font-size: 6pt;
      padding: 5px 0;
      color: #666666;
      text-shadow: 1px 0px 0px #fff;
      filter: dropshadow(color=#fff, offx=1, offy=0);
    }
    .ui-datepicker td span, .ui-datepicker td a {
      display: inline-block;
      font-weight: bold;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #666666;
      text-shadow: 1px 1px 0px #fff;
      filter: dropshadow(color=#fff, offx=1, offy=1);
    }
    .ui-datepicker-calendar .ui-state-default {
      background: #ededed;
      background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
      background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
      background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
      background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
      background: linear-gradient(top,  #ededed 0%,#dedede 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
      -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
      -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
      box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    }
    .ui-datepicker-unselectable .ui-state-default {
      background: #f4f4f4;
      color: #b4b3b3;
    }

  
    .ui-datepicker-calendar .ui-state-hover {
      background: #f7f7f7;
    }
  
    .ui-datepicker-calendar .ui-state-active {
      background: #6eafbf;
      -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
      -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
      box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
      color: #e0e0e0;
      text-shadow: 0px 1px 0px #4d7a85;
      filter: dropshadow(color=#4d7a85, offx=0, offy=1);
      border: 1px solid #55838f;
      position: relative;
      margin: -1px;
    }
  .ui-datepicker-calendar td:first-child .ui-state-active {
      width: 29px;
      margin-left: 0;
    }
    .ui-datepicker-calendar td:last-child .ui-state-active {
      width: 29px;
      margin-right: 0;
    }
    .ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}
  .ui-datepicker-calendar thead tr th {
      font-family: Open Sans, Arial, sans-serif;
      color: #549fa8;
      font-size: 12px;
      font-weight: 400;
      padding: 0.45em 0.3em !important;
      /*   width: 15px !important; */
  }
  
  .openemr-calendar .ui-datepicker-calendar thead tr th {
      font-size: 10px;
  }
  
  .ui-datepicker-close {
      display: none;
  }
  
  .ui-datepicker thead {
      background-color: #f5f5f5;
  }
  
  .openemr-calendar .ui-datepicker thead {
      background:  #f5f5f5; 
  }
  
  
  .ui-datepicker-buttonpane.ui-widget-content {
      text-align: center;
      background-color: #3e9aba;
      margin: 0 !important;
      height: 28px;
      padding: 0 !important;
  }
  
  .openemr-calendar .ui-datepicker-year {
      background-color: transparent;
  }
  
  .openemr-calendar .ui-datepicker-month {
      background-color: transparent;
  }
  
  .openemr-calendar .ui-state-default {
      border: 0 !important;
  }
  
  .openemr-calendar .ui-datepicker-month {
      margin-right: 10px !important;
  }
  
