
.logo{
      position: relative;
      width:25%;
      height:25%;
      float: left;
      padding-bottom: 25px;
      left:60px;
}
#logobox{
      font-size: 20px;
      font-weight: 900;
      padding:20px;
}
.gender{
      display: inline;
}

.header{
overflow: hidden;
padding: 20px 10px;
}
fieldset{
      background:white;
}
legend
{
background:rgb(93, 143, 236);
border:1px solid #ccc;
box-shadow: 3px 3px 3px 3px silver; 
padding:5px;
text-align: center;
width:40%;
color:white;
}


input{padding:8px; width:300px; display:block}

header, aside, article, footer, section {
      display: block;
     }
     /* Get rid of white border around browser window */
     body {
      margin: 0;
      padding: 0;
     }
     /* Get rid of large margins on headings */
     h1, h2, h3, h4, h5, h6 {
      margin: 0;
     }
#wrapper {
      /* Set your own widths, % for fluid, px for fixed */
      width: 100%;
      min-width: 780px;
      max-width: 1260px; /* Vertical margins, and auto to center */
      margin: 0 auto;
     }
     .container {
      padding: 16px;
      background-color: white;
      font-size: 16px;
      font-weight: bold;
    }
    input[type=text], input[type=date], input[type=tel]{
      width: 50%;
      max-width: 500px;
      box-sizing: border-box;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: 1px solid rgb(93, 143, 236);
      background: #f1f1f1;
    }
    .radio-space{
          padding-top: 30px;
          padding-bottom: 30px;
          float: left;
          clear: none;
    }
   
    

    /*custom file ------------------------------------------*/
    .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      text-align: center;
      border-radius: 7px;
      padding: 8px;
      background:#f1f1f1;
      cursor: pointer;
      font-size: 12px;
      width:100px;
  }
  .custom-file-upload:hover{
        background: #888;
  }
    input[type="file"] {
      display: none;
  }
    /*-----------------------------------------------------*/

    /* select style ----------------------------------------*/
    .select-css {
      display: block;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 700;
      color: #444;
      line-height: 1.3;
      padding: .6em 1.4em .5em .8em;
      width: 50%;
      max-width: 500px; 
      box-sizing: border-box;
      margin: 0;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
  }
  .select-css::-ms-expand {
      display: none;
  }
  .select-css:hover {
      border-color: #888;
  }
  .select-css:focus {
      border-color: #aaa;
      box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222; 
      outline: none;
  }
  .select-css option {
      font-weight:normal;
  }
  
    /*-------------------------------------------*/

     /* Sample styles for 3-column layout */
     /* Section containing multiple columns */
     .columns {
      display: table;
      border-collapse: collapse;
      width: 100%; /* border is optional, style to taste */
      border: solid 1px silver;
     }
     /* Aside columns in columns div */
     .columns aside {
      display: table-cell; /* Use any width and padding you like */
      width: 18%;
      padding: 1%;
     }
     /* Main article in the columns */
     .columns article {
      padding: 1%;
      background: #ddd;
     }
     /*Optional, style to taste */
     .columns .left {
      background-color: #ddd;
      border-right: solid 1px gray;
     }
     .columns .right {
      background-color: #ddd;
      border-left: solid 1px gray;
     }
     .imgcontainer{
     border: 1px solid #ccc;
     align-content: center;
     width:70px;
     height: 50px;
     float: left;
     padding: 50px;
}

input[type=button]{
      background-color: rgb(93, 143, 236);
      border-radius: 12px;
      box-shadow: 3px 3px 3px 3px silver;
      color: white;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      width: 20%;

}
